:root {
  --color-pink-dark: #ec4c8b;
  --color-pink-light: #fc5193;
  --color-pink-mid: #df4783;
  --color-white: #fff;
  --color-light: #fefefe;

  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.homeScreen {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  color: var(--color-light);
  background-color: var(--color-pink-dark);
  font-size: 1.4rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.navbar-middle {
  font-size: 1.8rem;
}

.navbar-left {
  display: flex;
  margin-right: 2rem;
  gap: 2rem;
  font-size: 1.4rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
  width: 100%;
  background-color: var(--color-pink-light);
  color: var(--color-light);
  font-size: 1.4rem;
}

.headerLeft {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.headerImg {
  height: 8rem;
  width: 8rem;
}

.headerRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.headerRightTitle {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  font-stretch: extra-expanded;
}

.homeList {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}

.homeListTitle {
  background-color: var(--color-pink-mid);
  padding: 3px 5px;
  color: var(--color-light);
  font-size: 1.4rem;
}

.homeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  text-decoration: underline;
}

.homeCardTop {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.homeCardTopImg {
  height: 4rem;
  width: 7rem;
}

.cardIcon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: var(--color-light);
  font-size: 1.3rem;
}

.homeCardBottom {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  padding: 1rem;
  color: var(--color-light);
  gap: 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

.homeCardTitle {
  font-size: 1.2rem;
}

.homeCardNumber {
  font-size: 1em;
}

.dark {
  background-color: var(--color-pink-dark);
}

.light {
  background-color: var(--color-pink-light);
}

.detailsBanner {
  background-color: var(--color-pink-mid);
  padding: 0.3rem 1rem;
  text-transform: uppercase;
  color: var(--color-light);
  font-size: 1.4rem;
}

.detailsCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  height: 8rem;
  width: 100%;
}

.detailsCardTitle {
  color: var(--color-light);
  font-size: 1.4rem;
}

.detailsCardRight {
  display: flex;
  gap: 3rem;
  color: var(--color-light);
  font-size: 1.2rem;
}
